<footer class="bg-marshland-950 flex flex-col gap-4 p-6 md:p-8 !pb-3" >
    <div class="flex gap-4" >
        <lucide-icon class="text-white hover:text-marshland-600" name="twitter" size="24" ></lucide-icon>
        <lucide-icon class="text-white hover:text-marshland-600" name="instagram" size="24" ></lucide-icon>
        <lucide-icon class="text-white hover:text-marshland-600" name="youtube" size="24" ></lucide-icon>
        <lucide-icon class="text-white hover:text-marshland-600" name="linkedin" size="24" ></lucide-icon>
    </div>
    <p class="text-white text-center" >© Derechos Reservados</p>
</footer>
