@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --color-marshland-950: #001011;
    --color-marshland-900: #0E5153;
    --color-marshland-600: #00A19F;
    --color-melanzane-950: #26081C; 
    --color-melanzane-900: #77245B;
    --color-black-default: #1E1E1E;

    --font-poppins: "Poppins", sans-serif;
    --default-font-family: "Poppins", system-ui;
}